<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuZR2OhKDEUyXpNUAarBNKAuERVHTLVj4</string>
	<key>GCM_SENDER_ID</key>
	<string>138686518252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ttdFirebaseEducational</string>
	<key>PROJECT_ID</key>
	<string>tdd-education-app-27680</string>
	<key>STORAGE_BUCKET</key>
	<string>tdd-education-app-27680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138686518252:ios:02073d89fd14e698ef26c9</string>
</dict>
</plist>